mixin productCard(type, props)
  -
    const {name, image, price, isNewOffer, _id} = props;
    const cardClassName = `catalog-product-card ${isNewOffer ? 'catalog-product-card--new' : ''}`;

  li(class=cardClassName)
    div(class="catalog-product-card__popup")
      a(class="catalog-product-card__buy-btn" href="#")
        span купить
      a(class="catalog-product-card__bookmark-btn" href="#") в закладки
    //img(src=`images/catalog/${image}.jpg` width="144" height="128" alt=`${name}`)
    h3= name
    p= `${price + 3500} P.`
    a(class="catalog-link" href=`/catalog/${type}/${_id}` aria-label=`на страницу ${name}`)= `${price} P.`
